<div class="container-narrow">

	<div class="masthead">
		<ul class="nav nav-pills pull-right">
			<li class="active"><a href="#">Home</a></li>
		</ul>
		<h3 class="muted">Polyglot Hadoop</h3>
	</div>
	<hr>
	<h4>Job I/O</h4>
	<div class="row">
		<div class="input-prepend span6">
			<span class="add-on">Input</span>
			<input class="span5" id="inputPath" type="text" placeholder="Input path">
		</div>
		<div class="input-prepend span6">
			<span class="add-on">Output</span>
			<input class="span5" id="outputPath" type="text" placeholder="Output path">
		</div>
	</div>
	<h4>M/R Code
	<div class="btn-group">
		<button class="btn active modeChanger" id="jsModeBtn">JavaScript</button>
		<button class="btn modeChanger" id="pyModeBtn">Python</button>
	</div></h4>
	<div class="row">
		<h5 class="span6">Mapper</h5>
		<h5 class="span6">Reducer</h5>
	<div class="row">
		<textarea id="mapperCode" name="mapperCode"></textarea>
		<textarea id="reducerCode" name="reducerCode"></textarea>
	</div>
	<hr>
	<button class="btn btn-large btn-success pull-right" type="button" id="submitBtn">Submit !</button>
</div>
<script src="/js/index.js"></script>
