<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link href="/css/jquery-ui.min.css" rel="stylesheet" type="text/css">
    <!-- Bootstrap -->
		<link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="/css/bootstrap/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
		<link href="/css/codemirror/codemirror.css" rel="stylesheet" />
		<link href="/css/codemirror/solarized.css" rel="stylesheet" />
		<style type="text/css">
		body {
			padding-top: 20px;
			padding-bottom: 40px;
		}
		/* Custom container */
		.container-narrow {
			margin: 0 auto;
			max-width: 1200px;
		}
		.container-narrow > hr {
			margin: 30px 0;
		}
		.input-prepend {
			margin-top: 14px;
		}
		.CodeMirror {
			border: 1px solid lightgray;
			margin-left: 60px;
		}
		.CodeMirror ~ .CodeMirror {
			margin-left: 30px;
		}
		</style>
  </head>
  <body>
		{{{body}}}
		<script src="/js/jquery-1.9.1.min.js"></script>
		<script src="/js/bootstrap/bootstrap.min.js"></script>
		<script src="/js/codemirror/codemirror.js"></script>
		<script src="/js/codemirror/addon/edit/matchbrackets.js"></script>
		<script src="/js/codemirror/addon/edit/continuecomment.js"></script>
		<script src="/js/codemirror/mode/javascript.js"></script>
		<script src="/js/codemirror/mode/python.js"></script>
		<script src="/js/index.js"></script>
	{{{script}}}
  </body>
</html>
